body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #6943FF;
}

h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 15px;
}

h3 {
    color: #5A537B;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
}

#main-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 58px;
    letter-spacing: 0%;
    font-weight: bolder;
    text-align: center;
    height: 85px;
    margin-top: 15px;
    margin-bottom: 25px;
    
    color: white;
    background-color: #6943FF;
    border: 2px solid #B295FF;

}

#convert-btn {
    font-size: 16px;
    padding: 10px 28px;
    border: none;
    margin-bottom: 35px;
}

input, #convert-btn{
    box-sizing: border-box;
    width: 117px;
    border-radius: 5px;
}

#units-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4; 
}

.unit {
    text-align: center;
    background-color: white;
    height: 80px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 30px 77px;
    width: 400px;
    border-radius: 5px;
}

#length {
    margin-top: 40px;
}

#mass {
    margin-bottom: 25px;
}

p {
    font-weight: 300;
    margin-bottom: 0px;
}