body {
    background-color: #1F2937;
    margin: 0;
}

.container {
    width: 445px;
    margin: 115px 52px;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    letter-spacing: -2.5%;
    line-height: 40px;
    margin: 0;
}

h2 {
    color: #A9A9A9;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -0.015625rem;
    margin-top: 10px;
}

#second-line {
    display: block;
    color: #4ADF86;
}

.head {
    margin-bottom: 50px;
}

button {
    color: white;
    background-color: #10B981;;
    font-size: 18px;
    margin-bottom: 35px;
    padding: 10px 15px;
    border-radius: 7px;
}

hr {
    border-color: #273549;
    margin-bottom: 40px;
}

#passwords-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.password {
    color: #10B981;
    background-color: #273549;
    text-align: center;
    width: 211px;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    
}