body {
    margin: 0;
    font-family: "Smythe", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Centers the app horizontally */
    align-items: flex-start; /* Keep the full top border visible */
    padding: 20px 0;
}

.app-container {
    width: 600px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    border-radius: 20px;
    border: 5px solid black;
}

header {
    display: flex;
    align-items: center;
    background-image: url('./images/ferks-guare-KEZdWfYD-ow-unsplash 1.png');
    background-size: cover;
    height: 170px;
    color: white;
}

.food-ingredients {
    color: #8B8B8B;
    margin-bottom: 7px;
}

.food-price {
    font-size: 20px;
}


h1, h2, p, span {
    margin: 0;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h2, .order-price, #total-value {
    font-size: 20px;
}

.main-title {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    padding-right: 46px;
    gap: 5px;
    transform: translateY(-10px); 
}

#hero-container {
    margin: 45px;
}

.food-container {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.food-item {
    display: flex;
}

.food-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 15px;
}

.emoji-wrapper {
    width: 95px;
    height: 90px;
    container-type: inline-size;
    display: flex;
    justify-content: center;
}

.food-emoji {
  font-size: 85cqw; 
  line-height: 1;
}

.add-btn {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid #DEDEDE;
    
}

.add-btn .plus-icon {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 100;
}

hr {
    margin: 0;
}

#order-section {
    margin-bottom: 30px;
}

.order-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
}
.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#order-summary {
    display: flex;
    flex-direction: column;
}

#order-title {
    text-align: center;
    margin: 45px 0;
}

#order-summary hr {
    border: 2px solid #393333;
}

.order-total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.food-name, .order-name, #order-title, #total-text {
    font-size: 28px;
}

.remove-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: white;
    color:#BBBBBB;
}

#order-btn {
    margin-top: 45px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 18px;
    border: none;
    color: white;
    background-color: #16DB99;
}

dialog {
    width: 500px;
    height: 500px;
    border: none;
    box-shadow: 0 10px 30px -5px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 45px 24px;
}

form input, form button {
    font-size: 20px;
    width: calc(100% - 48px); /* 100% minus the 24px left and 24px right distance */
    max-width: 452px; /* Ensures they do not stretch excessively on wider viewports */
    height: 70px;
    margin-bottom: 24px;
    box-sizing: border-box; /* Ensures padding is included inside the width */
    padding: 12px 24px; /* Recommended: Add padding so the input boxes aren't too flat */
    border-radius: 5px;
}

form input {
    border-color: #757575;
}

form button {
    cursor: pointer;
    background-color: #16DB99;
    color: white;
    border: none;
    margin-top: 20px;
}

#order-message {
    font-size: 28px;
    text-align: center;
    padding: 50px 60px;
    background-color: #ECFDF5;
    color: #065F46;
}
