body {
    margin: 0;
    font-family: "Smythe", sans-serif;

    display: flex;
    justify-content: center; /* Centers the app horizontally */
    align-items: center; /* Centers the app vertically */
}

.app-container {
    width: 600px;
    border-radius: 20px;
    border: 5px solid black;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    background-image: url('./images/ferks-guare-KEZdWfYD-ow-unsplash 1.png');
    background-size: cover;
    height: 170px;
    color: white;
}

.food-name {
    font-size: 28px;
}

.food-ingredients {
    color: #8B8B8B;
    margin-bottom: 7px;
}

.food-price {
    font-size: 20px;
}

h1, h2 {
    font-weight: 400;
}

h1, h2, p, span {
    margin: 0;
}

.main-title {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    padding-right: 46px;
    gap: 5px;
    transform: translateY(-10px); 
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

#hero-container {
    margin: 45px;
}

article {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.food-item {
    display: flex;
}

.food-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 15px;
}

.emoji-wrapper {
    width: 95px;
    height: 90px;
    container-type: inline-size;
    display: flex;
    justify-content: center;
}

.food-emoji {
  font-size: 85cqw; 
  line-height: 1;
}

.add-btn {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid #DEDEDE;
    
}

.add-btn .plus-icon {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 100;
}

hr {
    margin: 0;
}
